#wrapper {
  width: 850px;
  height: 600px;
  background-color: rgb(68, 255, 0);
  margin: 0 auto;
  overflow: hidden;
}
#wrapper {
  width: 700px;
  height: 500px;
  background-color: rgb(0, 85, 255);
  margin: 0 auto;
}
footer {
  margin-top: 2%;
  padding: 10%;
  background-color: #000000;
  color: white;
  text-align: center;
}
