#wrapper {
  width: 850px;
  height: 600px;
  background-color: rgb(220, 10, 10);
  margin: 0 auto;
  overflow: hidden;
}
#canvas {
  width: 700px;
  height: 500px;
  background-color: rgb(0, 85, 255);
  margin: 0 auto;
}
footer {
  margin-top: 2%;
  padding: 10%;
  background-color: #000000;
  color: white;
  text-align: center;
}

nav {
  text-align: center;
}

nav ul {
  list-style-type: none;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li a {
  text-decoration: none;
  color: #000000;
}
